@using WebApplication1.Models;

@{
    ViewBag.Title = "UserDashboard";
    Layout = "~/Views/Shared/UserLayout.cshtml";
    var AnnouncementList = ViewData["announcementList"] as IEnumerable<announcement>;
}

<style>
    .align {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 20px;
        margin-left:14rem;
    }

    .card-container {
        display: inline-block;
        width: 100%;
        break-inside: avoid;
    }
</style>

<h1 class="h3 mb-2 text-gray-800 ml-3">Announcements</h1>

@if (AnnouncementList != null && AnnouncementList.Any())
{
    <div class="align">
        @foreach (var announce in AnnouncementList)
        {
            <div class="card-container">
                <div class="card border-success ml-4 mb-3" style="max-width: 18rem;">
                    <div class="card-header bg-transparent border-success">
                        @announce.announcement_title
                    </div>
                    <div class="card-body text-success">
                        <p class="card-text">
                            @announce.announcement1
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <p style="color:red; font-weight:bold;" class="ml-4">No Announcements Yet!</p>
}
